<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task.xsd"> 

    <!--静态资源解析包括 ：js、css、img、..-->
    <!--<mvc:resources mapping="/js/" location="/js/**"/>-->
    <!--<mvc:resources mapping="/css/" location="/css/**"/>-->
    <!--<mvc:resources mapping="/fonts/" location="/fonts/**"/>-->
    <!--<mvc:resources mapping="/images/" location="/images/**"/>-->
    <!--将springmvc不能不理的请求交给tomcat（如静态资源）-->
    <mvc:default-servlet-handler/>

    <!--使用annotation-driven 注解驱动，就可以代替 注解映射器 和 注解适配器 的配置-->
	<!-- 可使用JSR303校验、快捷的ajax请求、映射动态请求等 -->
    <mvc:annotation-driven />

    <!--扫描com.movie下的所有包，除了带有 @ 的类所在的包以外（use-default-filters="false"）-->
    <context:component-scan base-package="com.movie" >
    	<!-- 扫描控制器 -->
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    	<!-- 扫描service,这里可以配置，但一般在别的配置文件中配置 -->
    	<!-- <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/> -->
    </context:component-scan>

    <!--视图解析器-->
    <!--需要配置解析jsp的视图解析器jsp解析，默认使用jstl标签解析-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--拼接视图地址的前缀和后缀-->
        <!-- <property name="prefix" value="/WEB-INF/jsp/"/> -->
        <!-- 由于引入的静态资源文件里的代码又引入其他资源的是路径是绝对路径，不想再修改，这里就要保证路径的统一 -->
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <!--@Contolller中获取properties文件属性值配置-->
    <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="fileEncoding" value="UTF-8" />  
        <property name="location" value="classpath:properties/hadoopUrl.properties" />  
	</bean>
    
    <!-- 配置定时器（采用注解方式定时启动某个方法） -->
    <task:executor id="executor" pool-size="5" />    
    <task:scheduler id="scheduler" pool-size="10" />    
    <task:annotation-driven executor="executor" scheduler="scheduler" />  

</beans>